{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/ . . /css/\
    bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE fJT GXwEOngsV Zt87NXFoaoApmYm81
    <title>Newspaper App</title>
</head>
<body>
    <main>
        {% block content %}
        
        {% endblock content %}
    </main>
    
</body>
</html>